{% extends 'base.html.twig' %}
 {% block body %}
  <main id="mainHome">
      <section id="lastReviews">
           {% for review in lastReviews %}
           <p> {{ review.author }} {{ review.work.title }} {{ review.editDate | date('d/M/Y') }}</p>
           {% endfor %}
      </section>
   <section id="current Favorite">

   </section>
      <section id="bestReviews">
            {% for review in bestReviews  %}
           <p>
            <a href="{{ path('work_show', {'id': review.work.id})  }}">  {{ review.work.title }}</a> {{ review.work.title }} {{ review.rating }}/10
           </p>
            {% endfor %}
       </section>
   </main>

{% endblock %}
