{% extends 'base.html.twig' %}

{% block title %}liste des reviews{% endblock %}

{% block body %}
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th> Art Work</th>
                <th>Published </th>
                <th>Edit</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.work.title|title}}</td>
                <td>{{ review.publishedDate ? review.publishedDate|date('d-m-Y') : '' }}</td>
                <td>{{ review.editDate ? review.editDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('review_new') }}">Create new</a></p>
{% endblock %}
