{% extends 'base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}
    <h1>{{ work.title }}</h1>
    <main>

        <section class="infos">
            <img src="https://pbs.twimg.com/media/EB3UiXVUYAIE7yR?format=jpg&name=large">
{{ work.creator }}
            <div class="textInfos">
                <p>Description : {{ work.description }}</p>
                <p>Creator : {{ work.creator }}</p>
                <p>release date : {{ work.releaseDate }}</p>
                <p> country : {{ work.country }}</p>
            </div>
        </section>
        <section class="commentary">

            {% for review in work.reviews  %}
                <div class="oneReview">
                    <div class="reviews">
                        <h2>review from {{ review.author }}  </h2>
                        <p> {{ review.editDate | date('d/m/Y') }}</p>
                        <p>{{ review.content }}</p>
                        <p>{{ review.rating }}/10</p>
                    </div>
                    <div class="comments">
                        <h2>messages</h2>
                    {% for comment  in review.comments %}
                        <p> {{ comment.author }} {{ comment.content }}</p>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    <a href="{{ path('work_index') }}">back to list</a>

    <a href="{{ path('work_edit', {'id': work.id}) }}">edit</a>

    {{ include('work/_delete_form.html.twig') }}

{% endblock %}
